npm-debug.log
node_modules/
.sass-cache/
Application/Public/Images/main-*
Application/Public/Images/icons-*
Application/Public/Styles/*
Application/Public/Scripts/*
Application/Public/Templates/*
Application/Vendors
Distribution
native/platforms
Gemfile.lock
