
<!--

Fullscreen layout
________________
|              |
|              | 
|              |
|              |
|     BODY     |
|              |
|              |
|              |
|              |
|______________|

!-->

<div class="Body" data-layout="Body">
  <main class="BodyBody" data-region="Body">{{=it.body}}</main>
</div>
